@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", arial, sans-serif;
}
.header {
  position: relative;
  background-image: url("./images/header2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  width: 100%;
  height: 650px;
  z-index: -1;
}
.header::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.nav-head {
  display: flex;
  justify-content: center;
  align-items: start;
}

.navbar {
  position: relative;
  background-color: transparent;
  width: 60%;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  font-size: 18px;
  margin: 5px;
  margin-top: 40px;
  padding: 5px;
}
.navbar-brand {
  font-size: 25px;
  cursor: pointer;
}
.navbar-items {
  display: flex;
  padding: 8px;
  margin: 5px;
  cursor: pointer;
}
.nav-item:hover {
  text-decoration: underline;
}
.hamburger-menu {
  display: none;
}
.dropdown-content {
  display: none;
}
.navbar-items a:link {
  color: white;
}
.navbar-items a {
  text-decoration: none;
  padding-left: 25px;
  color: white;
}
.showcase {
  margin: 120px;
  margin-left: 300px;
  margin-top: 80px;
  z-index: 10000;
  color: white;
}
.showcase-heading {
  font-size: 40px;
  word-spacing: 5px;
}
.showcase p {
  margin-top: 3%;
  line-height: 1.8;
  word-spacing: 3px;
  font-family: "Roboto", sans-serif;
}
.start-btn {
  margin-top: 20px;
  background-color: #017cff;
  width: 110px;
  height: 50px;
  border: none;
  color: white;
  z-index: 100;
  cursor: pointer !important;
  transition: ease 0.3s;
}
.start-btn:hover {
  background-color: white;
  color: #017cff;
}
.learn-more:hover {
  text-decoration: underline;
  cursor: pointer;
}
.card-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  top: 70%;
  z-index: 1;
}
.cards {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  padding: 10px;
}
.card {
  padding: 10px;
  max-width: 300px;
  background-color: #ffffff;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin-left: 30px;
  border: 1px solid white;
  display: flex;
  justify-content: center;

  align-items: start;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
}
.icon {
  margin-left: 7%;
  color: #017cff;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  margin-bottom: 10px;
  color: #919192;
  font-weight: bold;
  line-height: 1.8;
}

.card-link {
  display: inline-block;
  color: black;
  font-weight: bold;
  padding: 8px 0;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: ease 0.3s;
}
.card-link:hover {
  color: #017cff;
  background-color: #ffffff;
}
.body {
  margin-top: 20%;
  min-height: 100vh;
  padding-bottom: 50px;
}
.ad-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ad {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ad1,
.ad2 {
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  height: 100%;
  flex: 1;
}
.ad1 {
  margin-bottom: 20px;
}
.ad2 img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.flex-item {
  flex-basis: 50%;
}
.flex-item2 {
  margin-left: 5%;
}

.accordion {
  width: 100%;
  min-height: 300px; /* Set a fixed height for the accordion */
  max-height: 300px;
  overflow-y: auto; /* Enable vertical scrollbar */
  overflow-x: hidden;
}

.accordion-item {
  margin: 5px;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  padding: 10px;
  width: 100%; /* Set a fixed width for the accordion header */
  box-sizing: border-box; /* Include padding in the width calculation */
}
.accordion-header h3 {
  margin-left: 3%;
}

.accordion-content {
  display: none;
  padding: 10px;
  width: 100%; /* Set a fixed width for the accordion content */
  white-space: normal; /* Allow content to wrap to the next line */
  color: #919192;
}
.accordion-content p {
  margin-left: 8%;
}

.accordion-icon {
  font-size: 16px;
  transition: transform 0.2s ease-in-out;
}

.accordion-item.active .accordion-content {
  display: block;
}

/* Style the scrollbar track */
.accordion::-webkit-scrollbar {
  width: 8px;
}

.accordion::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

/* Style the scrollbar thumb */
.accordion::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.accordion::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.number-container {
  text-align: center;
  margin-top: 5%;
  width: 100%;
  background-color: #edf0f3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}
.num {
  color: #007bff;
  font-size: 40px;
}
.parent-leader {
  margin-top: 8%;
  width: 100%;
  text-align: center;
}
.parent-leader h1 {
  margin-bottom: 3%;
}
.parent-leader .parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.parent-leader .parent .leader {
  margin: 5px;
  position: relative;
}
.leader .text-in-img {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 25px;
  flex-direction: column;
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 90%;
  min-height: 25%;
  background-color: white;
  text-transform: uppercase;
}
.text-in-img p {
  margin-top: 2%;
  font-size: 13px;
  color: gray;
}
.parent-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 8%;
}
.review {
  width: 35%;
}
.carousel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.carousel__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__dots {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 5px;
}

.carousel__dot--active {
  background-color: black;
}

.carousel__indicator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.carousel__indicator--left {
  left: 10px;
}

.carousel__indicator--right {
  right: 10px;
}
.comma {
  margin-top: 3%;
  margin-bottom: 3%;
}
blockquote {
  line-height: 1.8;
  text-align: center;
  font-family: "Petit Formal Script", cursive;
}
blockquote cite {
  font-family: "Bad Script", cursive;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #edf0f3;
  padding: 60px;
  line-height: 1.8;
}
.footer {
  width: 80%;
}
.footer-head {
  color: #797b7c;
}
.about-footer-content {
  color: #797b7c;
}

.footer__column {
  cursor: pointer;
  width: calc(20% - 10px);
  color: #919192;
}

.footer__column li:hover {
  text-decoration: underline;
}
.footer__column li {
  color: black;
  font-weight: 600;
}

.footer__column ul {
  list-style: none;
  padding-left: 0;
}
.footer__column h3 {
  font-weight: 600;
}
.footer__social-icons {
  display: flex;
  align-items: center;
}
.footer__social-icons a {
  color: black;
}
.end {
  color: #797b7c;
  margin-top: 3%;
}
.footer__social-icons {
  padding: 5px;
}
.footer__social-icons span {
  padding: 5px;
}
.grand-parent-services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #edf0f3;
  padding: 20px;
  text-align: center;
}
.parent-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  padding: 25px;
}
.features {
  margin-top: 5%;
  background-color: black;
  width: 120px;
  height: 40px;
  color: white;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
.features:hover {
  background-color: #edf0f3;
  color: black;
  border: 2px solid black;
}
.services h2 {
  margin-bottom: 20%;
}
.service-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex: 1;
}
.service-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  padding: 5px;
  margin: 5px;
  line-height: 1.8;
  margin-top: 20px;
}
.service-item p {
  color: #888;
}
.parent-blog {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 8%;
}
.child-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 60%;
  line-height: 1.8;
}
.child-blog h1 {
  margin-bottom: 3%;
}
.child-blog > p {
  width: 70%;
  color: #797b7c;
}
.img-gallery {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}
.img1,
.img4 {
  flex-basis: 30%;
}

.img2,
.img3 {
  flex-basis: 55%;
}
.img-gallery img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.social-links {
  transition: all 0.3s;
}
.social-links:hover {
  color: #017cff;
  cursor: pointer;
}
@media (max-width: 1024px) and (min-width: 993px) {
  .ad1 {
    margin-top: 7%;
  }
  .ad2 {
    align-items: start;
  }
}
@media (max-width: 992px) and (min-width: 600px) {
  .header::before {
    background-color: transparent;
  }
}

@media (max-width: 992px) {
  * {
    overflow-x: hidden;
  }
  .accordion,
  .accordion-header,
  .accordion-content {
    width: 100%;
  }

  #contact {
    padding: 0;
    padding-left: 10px;
  }
  .grand-parent-services {
    width: 100%;
  }
  .parent-services {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .child-blog > p {
    width: 90%;
  }
  .service-item p {
    margin-top: 5%;
  }
  .features {
    margin-top: 15%;
  }
  .parent-blog,
  .child-blog {
    width: 100%;
  }
  .text-in-img {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 30%;
    width: 40%;
    flex-wrap: wrap;
  }
  .text-in-img h3 {
    font-size: 14px;
  }
  .parent-leader {
    margin-top: 30%;
  }
  .parent-review {
    margin-top: 30%;
  }
  .grand-parent-services {
    margin-top: 20%;
  }
  .parent-blog {
    margin-top: 25%;
  }
  .parent-leader .parent {
    justify-content: start;
  }
  .leader img {
    object-fit: none;
    object-position: -85px -10px;
  }
  .header {
    background-size: auto 700px;
  }
  .nav-head {
    background-color: #007bff;
  }
  .parent-review,
  .review,
  .carousel,
  .carousel__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  cite {
    display: none;
  }
  .body {
    margin-top: 90%;
  }
  .ad-main,
  .ad {
    width: 100%;
  }
  .ad1 {
    display: none;
  }
  .ad2::before {
    content: "Our Agency";
    color: black;
    font-size: 27px;
    margin-bottom: 10%;
    margin-left: 4%;
  }
  .accordion::before {
    content: "Why Us?";
    color: black;
    font-size: 24px;
  }
  .header1 {
    margin-top: 15%;
  }
  .ad2 {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 95%;
  }
  .flex-item {
    flex-basis: 50%;
  }
  .accordion {
    font-size: 11px;
    width: 100%;
  }
  .accordion-header,
  .accordion-content {
    width: 100%;
  }
  .active {
    margin-left: 0;
  }
  .accordion-item {
    margin-left: 0;
  }
  .accordion-header.active {
    margin-left: 10%;
  }
  .card-main {
    width: 100%;
  }
  .cards {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .card {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .card h3 {
    font-size: 15px;
  }
  .card .card-description {
    font-size: 12px;
    line-height: 1.8;
  }
  .navbar {
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
  }
  .navbar-items {
    display: none;
  }
  .hamburger-menu {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .showcase {
    margin: 10px;
    margin-top: 20%;
  }
  .ad {
    margin-top: 10%;
  }
  .ad2 {
    flex-direction: column;
    flex-basis: 100%;
  }
  .ad2 img {
    width: 100%;
  }
  .ad1 .hide-on-phone {
    display: none;
  }

  .number-container {
    flex-direction: column;
    margin-top: 20%;
  }
  .numbers {
    margin-top: 5%;
  }
  .num {
    text-align: center;
    margin-top: 20px;
    line-height: 1.8;
  }
  .num + p {
    color: #797b7c;
  }
  .carousel__dots {
    bottom: 50px;
  }
  .service-items {
    flex-direction: column;
  }
  .service-item {
    width: 100%;
  }
  .img-gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .img1,
  .img2 {
    flex-basis: 50%;
  }
  .img3,
  .img4 {
    flex-basis: 100%;
  }

  .child-blog {
    width: 100%;
  }
  .carousel__dots {
    bottom: 0;
  }
  .leader {
    flex-basis: 45%;
  }
  footer {
    justify-content: center;
    padding-left: 10px;
  }
  .footer {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-top: 25%;
  }
  .footer__column {
    width: calc(100% - 10px);
    margin-bottom: 20px;
  }
  .footer__social-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }
  .end {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card-main {
    width: 100%;
  }
  .c1 {
    display: none;
  }
}
@media (max-width: 920px) {
  .card-main {
  }
}
@media (max-width: 820px) {
  .card-main {
  }
}
@media (max-width: 768px) {
  .accordion,
  .accordion-header,
  .accordion-content {
    width: 100%;
  }
  #contact {
    padding: 0;
    padding-left: 10px;
  }
  .grand-parent-services {
    width: 100%;
  }
  .parent-services {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .child-blog > p {
    width: 90%;
  }
  .service-item p {
    margin-top: 5%;
  }
  .features {
    margin-top: 15%;
  }
  .parent-blog,
  .child-blog {
    width: 100%;
  }
  .text-in-img {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 30%;
    flex-wrap: wrap;
  }
  .text-in-img h3 {
    font-size: 14px;
  }
  .parent-leader {
    margin-top: 30%;
  }
  .parent-review {
    margin-top: 30%;
  }
  .grand-parent-services {
    margin-top: 20%;
  }
  .parent-blog {
    margin-top: 25%;
  }
  .parent-leader .parent {
    justify-content: start;
  }
  .leader img {
    object-fit: none;
    object-position: -85px -10px;
  }
  .header {
    background-size: auto 700px;
  }
  .nav-head {
    background-color: #007bff;
  }
  .parent-review,
  .review,
  .carousel,
  .carousel__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  cite {
    display: none;
  }
  .body {
  }
  .ad-main,
  .ad {
    width: 100%;
  }
  .ad1 {
    display: none;
  }
  .ad2::before {
    content: "Our Agency";
    color: black;
    font-size: 27px;
    margin-bottom: 10%;
    margin-left: 4%;
  }
  .accordion::before {
    content: "Why Us?";
    color: black;
    font-size: 24px;
  }
  .header1 {
    margin-top: 15%;
  }
  .ad2 {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 95%;
  }
  .flex-item {
    flex-basis: 50%;
  }
  .accordion {
    font-size: 11px;
    width: 100%;
  }
  .accordion-header,
  .accordion-content {
    width: 100%;
  }
  .active {
    margin-left: 0;
  }
  .accordion-item {
    margin-left: 0;
  }
  .accordion-header {
    width: 220px;
  }
  .accordion-header.active {
    margin-left: 10%;
  }
  .card-main {
    width: 100%;
  }
  .cards {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .card {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .card h3 {
    font-size: 15px;
  }
  .card .card-description {
    font-size: 12px;
    line-height: 1.8;
  }
  .navbar {
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
  }
  .navbar-items {
    display: none;
  }
  .hamburger-menu {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .showcase {
    margin: 10px;
    margin-top: 20%;
  }
  .ad {
    margin-top: 10%;
  }
  .ad2 {
    flex-direction: column;
    flex-basis: 100%;
  }
  .ad2 img {
    width: 100%;
  }
  .ad1 .hide-on-phone {
    display: none;
  }

  .number-container {
    flex-direction: column;
    margin-top: 20%;
  }
  .numbers {
    margin-top: 5%;
  }
  .num {
    text-align: center;
    margin-top: 20px;
    line-height: 1.8;
  }
  .num + p {
    color: #797b7c;
  }
  .carousel__dots {
    bottom: 50px;
  }
  .service-items {
    flex-direction: column;
  }
  .service-item {
    width: 100%;
  }
  .img-gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .img1,
  .img2 {
    flex-basis: 50%;
  }
  .img3,
  .img4 {
    flex-basis: 100%;
  }

  .child-blog {
    width: 100%;
  }
  .carousel__dots {
    bottom: 0;
  }
  .leader {
    flex-basis: 45%;
  }
  footer {
    justify-content: center;
    padding-left: 10px;
  }
  .footer {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-top: 25%;
  }
  .footer__column {
    width: calc(100% - 10px);
    margin-bottom: 20px;
  }
  .footer__social-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }
  .end {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card-main {
    width: 100%;
  }
  .c1 {
    display: none;
  }
}
@media (max-width: 768px) and (max-height: 538px) and (min-width: 750px) {
  .card-main {
    top: 100%;
  }
  .body {
    margin-top: 40%;
  }
}
@media (max-width: 600px) {
  .accordion,
  .accordion-header,
  .accordion-content {
    width: 100%;
  }
  #contact {
    padding: 0;
    padding-left: 10px;
  }
  .grand-parent-services {
    width: 100%;
  }
  .parent-services {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .child-blog > p {
    width: 90%;
  }
  .service-item p {
    margin-top: 5%;
  }
  .features {
    margin-top: 15%;
  }
  .parent-blog,
  .child-blog {
    width: 100%;
  }
  .text-in-img {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 30%;
    flex-wrap: wrap;
  }
  .text-in-img h3 {
    font-size: 14px;
  }
  .parent-leader {
    margin-top: 30%;
  }
  .parent-review {
    margin-top: 30%;
  }
  .grand-parent-services {
    margin-top: 20%;
  }
  .parent-blog {
    margin-top: 25%;
  }
  .parent-leader .parent {
    justify-content: start;
  }
  .leader img {
    object-fit: none;
    object-position: -85px -10px;
  }
  .header {
    background-size: auto 700px;
  }
  .nav-head {
    background-color: #007bff;
  }
  .parent-review,
  .review,
  .carousel,
  .carousel__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  cite {
    display: none;
  }
  .body {
  }
  .ad-main,
  .ad {
    width: 100%;
  }
  .ad1 {
    display: none;
  }
  .ad2::before {
    content: "Our Agency";
    color: black;
    font-size: 27px;
    margin-bottom: 10%;
    margin-left: 4%;
  }
  .accordion::before {
    content: "Why Us?";
    color: black;
    font-size: 24px;
  }
  .header1 {
    margin-top: 15%;
  }
  .ad2 {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 95%;
  }
  .flex-item {
    flex-basis: 50%;
  }
  .accordion {
    font-size: 11px;
    width: 100%;
  }
  .accordion-header,
  .accordion-content {
    width: 100%;
  }
  .active {
    margin-left: 0;
  }
  .accordion-item {
    margin-left: 0;
  }
  .accordion-header {
    width: 220px;
  }
  .accordion-header.active {
    margin-left: 10%;
  }
  .card-main {
    width: 100%;
  }
  .cards {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .card {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .card h3 {
    font-size: 15px;
  }
  .card .card-description {
    font-size: 12px;
    line-height: 1.8;
  }
  .navbar {
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
  }
  .navbar-items {
    display: none;
  }
  .hamburger-menu {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .showcase {
    margin: 10px;
    margin-top: 20%;
  }
  .ad {
    margin-top: 10%;
  }
  .ad2 {
    flex-direction: column;
    flex-basis: 100%;
  }
  .ad2 img {
    width: 100%;
  }
  .ad1 .hide-on-phone {
    display: none;
  }

  .number-container {
    flex-direction: column;
    margin-top: 20%;
  }
  .numbers {
    margin-top: 5%;
  }
  .num {
    text-align: center;
    margin-top: 20px;
    line-height: 1.8;
  }
  .num + p {
    color: #797b7c;
  }
  .carousel__dots {
    bottom: 50px;
  }
  .service-items {
    flex-direction: column;
  }
  .service-item {
    width: 100%;
  }
  .img-gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .img1,
  .img2 {
    flex-basis: 50%;
  }
  .img3,
  .img4 {
    flex-basis: 100%;
  }

  .child-blog {
    width: 100%;
  }
  .carousel__dots {
    bottom: 0;
  }
  .leader {
    flex-basis: 45%;
  }
  footer {
    justify-content: center;
    padding-left: 10px;
  }
  .footer {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-top: 25%;
  }
  .footer__column {
    width: calc(100% - 10px);
    margin-bottom: 20px;
  }
  .footer__social-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }
  .end {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .c1 {
    display: none;
  }
}
@media (min-width: 992px) {
  .footer {
    display: flex;
    flex-direction: row;
  }
  .footer__column {
    width: calc(80% - 10px);
  }
}
@media (max-width: 600px) and (min-width: 541px) {
  .card-main {
    width: 100%;
  }
}
@media (max-width: 540px) and (min-width: 426px) {
  .body {
  }
  .card {
    margin: 0;
  }
  .card-main {
  }
}
@media (max-width: 425px) {
  .accordion,
  .accordion-header,
  .accordion-content {
    width: 100%;
  }

  #contact {
    padding: 0;
    padding-left: 10px;
  }
  .grand-parent-services {
    width: 100%;
  }
  .parent-services {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .child-blog > p {
    width: 90%;
  }
  .service-item p {
    margin-top: 5%;
  }
  .features {
    margin-top: 15%;
  }
  .parent-blog,
  .child-blog {
    width: 100%;
  }
  .text-in-img {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 30%;
    flex-wrap: wrap;
  }
  .text-in-img h3 {
    font-size: 14px;
  }
  .parent-leader {
    margin-top: 30%;
  }
  .parent-review {
    margin-top: 30%;
  }
  .grand-parent-services {
    margin-top: 20%;
  }
  .parent-blog {
    margin-top: 25%;
  }
  .parent-leader .parent {
    justify-content: start;
  }
  .leader img {
    object-fit: none;
    object-position: -85px -10px;
  }
  .header {
    background-size: auto 700px;
  }
  .nav-head {
    background-color: #007bff;
  }
  .parent-review,
  .review,
  .carousel,
  .carousel__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  cite {
    display: none;
  }
  .body {
  }
  .ad-main,
  .ad {
    width: 100%;
  }
  .ad1 {
    display: none;
  }
  .ad2::before {
    content: "Our Agency";
    color: black;
    font-size: 27px;
    margin-bottom: 10%;
    margin-left: 4%;
  }
  .accordion::before {
    content: "Why Us?";
    color: black;
    font-size: 24px;
  }
  .header1 {
    margin-top: 15%;
  }
  .ad2 {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 95%;
  }
  .flex-item {
    flex-basis: 50%;
  }
  .accordion {
    font-size: 11px;
    width: 100%;
  }
  .accordion-header,
  .accordion-content {
    width: 100%;
  }
  .active {
    margin-left: 0;
  }
  .accordion-item {
    margin-left: 0;
  }
  .accordion-header {
    width: 220px;
  }
  .accordion-header.active {
    margin-left: 10%;
  }
  .card-main {
    width: 100%;
  }
  .cards {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .card {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .card h3 {
    font-size: 15px;
  }
  .card .card-description {
    font-size: 12px;
    line-height: 1.8;
  }
  .navbar {
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
  }
  .navbar-items {
    display: none;
  }
  .hamburger-menu {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .showcase {
    margin: 10px;
    margin-top: 20%;
  }
  .ad {
    margin-top: 10%;
  }
  .ad2 {
    flex-direction: column;
    flex-basis: 100%;
  }
  .ad2 img {
    width: 100%;
  }
  .ad1 .hide-on-phone {
    display: none;
  }

  .number-container {
    flex-direction: column;
    margin-top: 10%;
  }
  .numbers {
    margin-top: 5%;
  }
  .num {
    text-align: center;
    margin-top: 20px;
    line-height: 1.8;
  }
  .num + p {
    color: #797b7c;
  }
  .carousel__dots {
    bottom: 50px;
  }
  .service-items {
    flex-direction: column;
  }
  .service-item {
    width: 100%;
  }
  .img-gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .img1,
  .img2 {
    flex-basis: 50%;
  }
  .img3,
  .img4 {
    flex-basis: 100%;
  }

  .child-blog {
    width: 100%;
  }
  .carousel__dots {
    bottom: 0;
  }
  .leader {
    flex-basis: 45%;
  }
  footer {
    justify-content: center;
    padding-left: 10px;
  }
  .footer {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-top: 25%;
  }
  .footer__column {
    width: calc(100% - 10px);
    margin-bottom: 20px;
  }
  .footer__social-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }
  .end {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card-main {
    width: 100%;
  }
  .c1 {
    display: none;
  }
}
@media (max-width: 425px) and (max-height: 538px) {
  .card-main {
    top: 110%;
  }
}
@media (max-width: 393px) {
  .card-main {
  }
  .body {
  }
  .number-container {
    margin-top: 10%;
  }
}
@media (max-width: 375px) {
  .card-main {
    top: 85%;
    padding: 0;
  }
  .number-container {
    margin-top: 0;
  }
  .body {
  }
  cite {
    display: none;
  }
  .accordion {
    font-size: 11px;
  }
  .accordion-header,
  .accordion-content {
    width: 100%;
  }
  .text-in-img {
    height: 33%;
  }
  .active {
    margin-left: 0;
  }
}
@media (max-width: 375px) and (max-height: 538px) {
  .card-main {
    top: 110%;
  }
}
@media (max-width: 320px) {
  .body {
  }
  .grand-parent-services {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .card-main {
    top: 100%;
  }
  .leader img {
    object-fit: none;
    object-position: -111px -10px;
  }
  cite {
    display: none;
  }
  .text-in-img {
    height: 40%;
  }
  .accordion {
    font-size: 11px;
  }
  .accordion-header,
  .accordion-content {
    width: 100%;
  }
  .active {
    margin-left: 0;
  }
}
@media (max-width: 280px) {
  .accordion-header,
  .accordion-content {
    width: 100%;
  }
  .text-in-img {
    height: 40%;
  }
}

@media (min-width: 1280px) {
  .card-main {
  }
  .body {
  }
  .img1,
  .img4 {
    flex-basis: 20%;
  }
  .img2,
  .img3 {
    flex-basis: 50%;
  }
}
